server:
  port: 8080

spring:
  datasource:
    url: ${DATABASE_URL}
    username: ${PGUSER}
    password: ${PGPASSWORD}

  jpa:
    hibernate:
      ddl-auto: none

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      username: ${REDIS_USER}
      password: ${REDIS_PASSWORD}

  liquibase:
    change-log: classpath:/db/changelog/db.changelog-master.yaml

security:
  oauth2:
    resourceserver:
      jwt:
        issuer-uri: ${KEYCLOAK_URL}/realms/UniversityAttendance

app:
  token:
    ttl-seconds: 900
